@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
   box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

ul[class] {
   list-style: none;
}
li {
   padding: 0;
}
img {
   max-width: 100%;
   display: block;
}

input,
button,
textarea,
select {
   font: inherit;
}
a {
   text-decoration: none;
}
.page {
   &__body {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #1a1a1a;
   }
}
.container {
   max-width: 1180px;
   padding: 0 10px;
   box-sizing: border-box;
   margin: 0 auto;
}

.header {
   display: flex;
   flex-direction: column;
   height: 100vh;
   &__sale {
      background-color: #ced3ca;
   }
   &__content {
      flex-grow: 1;
      background-image: url("../img/header/bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
   }
}
.sale-header {
   &__inner {
      padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__offer {
      font-size: 14px;
      line-height: 20px;
      color: #000000;
      margin-right: 16px;
      padding-left: 21px;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         width: 16px;
         height: 16px;
         background-image: url("../../img/header/package_icon.png");
         left: 0;
         top: 1px;
      }
   }

   &__btn {
      font-size: 12px;
      line-height: 28px;
      width: 113px;
   }
}
.btn {
   text-align: center;
   color: #f7f7f7;
   display: block;
   background-color: #1a1a1a;
   transition: 0.3s;
   &:hover {
      background-color: rgb(65, 65, 65);
   }
}
.top-header {
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 32px 0 42px;
   }

   &__menu {
      display: flex;
      align-items: center;
   }

   &__login {
      display: flex;
      align-items: center;
   }
}
.menu {
   &__list {
      display: flex;
      padding-left: 56px;
      margin: 0;
   }

   &__item:not(:first-child) {
      margin-left: 32px;
   }

   &__link {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #292929;
      padding-bottom: 5px;
      opacity: 0.8;
      transition: 0.3s;
      &:hover {
         opacity: 1;
      }
   }
}
.login-header {
   &__list {
      display: flex;
      align-items: center;
      margin: 0;
   }

   &__item {
      &:first-child {
         padding-right: 12px;
         margin-right: 12px;
         border-right: 1px solid rgba($color: #1a1a1a, $alpha: 0.8);
      }
   }

   &__link {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #292929;
      opacity: 0.8;
      transition: 0.3s;
      &:hover {
         opacity: 1;
      }
   }
   &__market-icon {
      opacity: 0.8;
      transition: 0.3s;
      &:hover {
         opacity: 1;
      }
   }
}
.more {
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 22px;
   padding-bottom: 6px;
   padding-right: 17px;
   border-bottom: 1px solid #1a1a1a;
   color: #1a1a1a;
   opacity: 0.8;
   transition: 0.3s;
   &:hover {
      opacity: 1;
   }
}
.content-header {
   position: relative;
   &__offer {
      position: absolute;
      bottom: 36px;
   }

   &__text {
      font-size: 18px;
      line-height: 28px;
      color: #ffffff;
   }

   &__more {
      color: #ffffff;
      position: relative;
      border-bottom: 1px solid #fff;
      &::after {
         content: "";
         position: absolute;
         width: 16px;
         height: 16px;
         background-image: url("../img/header/arrow.png");
         left: 0;
         bottom: -22px;
      }
   }
}

.products {
   &__inner {
      padding: 40px 0 172px;
   }

   &__menu {
      max-width: 745px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto 50px;
   }

   &__menu-link {
      font-family: "Roboto", sans-serif;
      padding-bottom: 5px;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 27px;
      color: #b3b3b3;
      transition: 0.3s;
      &:hover {
         color: #1a1a1a;
         border-bottom: 1px solid #1a1a1a;
      }
   }
}
.products {
   &__btn {
      font-size: 20px;
      line-height: 56px;
      max-width: 302px;
      margin: 0 auto;
      margin-top: 110px;
   }
}
.catalog {
   display: grid;
   grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
   grid-row-gap: 30px;
   &-item {
      opacity: 0.9;
      transition: 0.3s;
      &:hover {
         opacity: 1;
      }
   }

   &__item-title {
      font-weight: normal;
      font-size: 15px;
      line-height: 18px;
      color: #1a1a1a;
      margin: 11px 0 6px;
   }

   &__item-subtitle {
      font-size: 13px;
      line-height: 13px;
      color: #1a1a1a;
   }
}
.notes {
   color: #808080;
}
.new-price {
   color: #ff3451;
}

.special-offer {
   background-color: #ced3ca;
   padding: 127px 0;
   &__inner {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
   }
   &__content {
      margin: auto;
      max-width: 210px;
   }
   &__title {
      font-size: 38px;
      line-height: 46px;
      padding-bottom: 33px;
   }
   &__subtitle {
      margin-bottom: 32px;
   }
}

.categories {
   padding: 115px 0;
   &__title {
      max-width: 510px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 90px;
   }

   &__items {
      display: grid;
      grid-template: auto / 1fr 1fr;
      grid-template-areas:
         "shop-mens shop-womens"
         "shop-objects shop-objects";
      grid-row-gap: 70px;
   }

   &__item-img {
      margin-bottom: 8px;
   }
}
.shop-mens {
   grid-area: shop-mens;
}
.shop-womens {
   grid-area: shop-womens;
   justify-self: end;
}
.shop-objects {
   grid-area: shop-objects;
}

.story {
   background: url("../img/story/bg.jpg") no-repeat center center;
   background-size: cover;
   &__inner {
      padding: 237px 0 234px;
      max-width: 770px;
      margin: 0 auto;
   }

   &__title {
      font-size: 35px;
      line-height: 54px;
      text-align: center;
      color: #ffffff;
   }
   &__subtitle {
      display: block;
      margin: 0 auto;
      padding: 0;
      max-width: 117px;
      text-align: center;
      color: #ffffff;
      border-color: #fff;
   }
}

.reg {
   background-color: #ced3ca;
   &__inner {
      padding: 82px 0 129px;
   }

   &__title {
      font-size: 34px;
      line-height: 41px;
      text-align: center;
   }

   &__subtitle {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      max-width: 370px;
      margin: 19px auto 56px;
   }
   &__form {
      max-width: 404px;
      margin: 0 auto;
      position: relative;
   }

   &__email {
      font-size: 16px;
      line-height: 22px;
      width: 100%;
      padding: 11px 66px 11px 18px;
      box-sizing: border-box;
      border: 1px solid #242424;
      outline: 0;
   }

   &__btn {
      position: absolute;
      right: 0px;
      top: -1px;
      margin: 0;
      border: 0;
      padding: 11px 22px 13px 20px;
      border: 1px solid #242424;
      background: #fff;
      outline: 0;
      cursor: pointer;
   }
}

.footer {
   background: #f7f7f7;
   &__inner {
      padding: 85px 0;
      display: flex;
      justify-content: space-between;
   }
}
.footer-menu {
   display: flex;
   width: 34%;
   justify-content: space-between;
   &__list {
      padding: 0;
   }
   &__item {
      margin-bottom: 16px;
   }

   &__link {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 15px;
      color: #1a1a1a;

      &:hover {
         text-decoration: underline;
      }
   }
}
.footer-info {
   &__wrap {
      max-width: 230px;
      padding-right: 79px;
      text-align: right;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         width: 55px;
         height: 88px;
         background-image: url("../img/footer/logo.png");
         right: 0;
         top: 0;
      }
   }
   &__credits {
      font-size: 15px;
      line-height: 21px;
      margin-bottom: 9px;
   }
}
.footer-social {
   display: flex;
   justify-content: flex-end;
   margin-top: 54px;
   &__link + &__link {
      margin-left: 16px;
   }
}

// Адаптив
